# História das Olimpíadas

Após um ano de atraso por conta da pandemia de Covid-19, as atenções do mundo todo se voltaram para Tóquio, no Japão, para acompanhar mais uma edição das Olimpíadas.

No Brasil não foi diferente, e muitos se uniram para torcer por nossos atletas em diferentes competições, tanto em esportes onde o Brasil já possui tradição quanto em novos esportes.

Vamos aproveitar o clima para estudar um pouco das Olimpíadas! Utilizaremos um _dataset_ com 120 anos de dados históricos das Olimpíadas, cobrindo desde os jogos de Atenas 1896 até Rio 2016. 

Faça o download do _dataset_ em https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results e carregue o arquivo ```athlete_events.csv``` para um DataFrame utilizando Pandas. Aproveite para explorar seu DataFrame e se familiarizar com a sua estrutura. 

OBS: Fique à vontade para acrescentar mais células Python conforme necessário em qualquer etapa do exercício.



# NOME: LEONARDO ESTRAZULAS DOLZAN

In [1]:

import numpy as np
import pandas as pd


athlete_events_raw = pd.read_csv('./datasets/athlete_events.csv', index_col =None)
athlete_events = pd.read_csv('./datasets/athlete_events.csv', index_col =None)


athlete_events.NOC.unique()
athlete_events.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

## 1. O Brasil nas Olimpíadas

Vamos começar estudando o desempenho do nossos próprio país. Gere um DataFrame novo contendo apenas as informações sobre atletas brasileiros.

In [2]:
athlete_events[athlete_events["NOC"] =="BRA"]
bra_athl = athlete_events[athlete_events["NOC"] =="BRA"]
bra_athl

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN
668,388,Abel Carlos da Silva Braga,M,19.0,190.0,73.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
781,451,Diana Monteiro Abla,F,21.0,175.0,75.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
1005,565,Glauclio Serro Abreu,M,26.0,185.0,75.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Boxing,Boxing Men's Middleweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268652,134400,"Maria Jos ""Zz"" Bertolotti",F,26.0,190.0,NaN,Brazil,BRA,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Women's Basketball,NaN
269745,134976,Sieglinda Lenk Zigler,F,17.0,NaN,NaN,Brazil,BRA,1936 Summer,1936,Summer,Berlin,Swimming,Swimming Women's 100 metres Backstroke,NaN
269899,135037,Moacir Zimmermann,M,32.0,184.0,70.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 20 kilometres Walk,NaN
270478,135289,Zzimo Alves Calazans,M,20.0,NaN,NaN,Brazil,BRA,1952 Summer,1952,Summer,Helsinki,Football,Football Men's Football,NaN
270789,135423,Ral Benedito Zumbano,M,22.0,NaN,NaN,Brazil,BRA,1948 Summer,1948,Summer,London,Boxing,Boxing Men's Lightweight,NaN

### Medalhistas

Vamos focar um pouco nos casos de sucesso do Brasil. Use o seu DataFrame anterior para filtrar apenas informações sobre **medalhistas** brasileiros. 

**DICA:** observe como a coluna ```Medal``` é representada quando o atleta não ganhou medalha.

In [3]:
bra_athl[bra_athl["Medal"].notnull()]
bra_medals = bra_athl[bra_athl["Medal"].notnull()]
#bra_medals["Medal"].sum
bra_medals

bra_no_medal = bra_athl[bra_athl["Medal"].isnull()]
bra_no_medal
bra_medals

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267709,133931,Arthur Nabarrete Zanetti,M,26.0,156.0,61.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Rings,Silver
268211,134186,"Jos Elias ""Z Elias"" Moedim Jnior",M,19.0,178.0,75.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
268218,134190,"Jos Marco ""Z Marco"" Nobrega Ferreira de Melo",M,29.0,190.0,86.0,Brazil-1,BRA,2000 Summer,2000,Summer,Sydney,Beach Volleyball,Beach Volleyball Men's Beach Volleyball,Silver
268219,134191,"Jos Marcelo ""Z Maria"" Ferreira",M,22.0,175.0,71.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
268247,134211,Jos Carlos Cracco Neto,M,22.0,170.0,69.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Men's Football,Gold

### Verão vs Inverno

Você deve ter notado que temos duas categorias distintas de jogos olímpicos, representados pela estação: temos os jogos de verão e os jogos de inverno, que ocorrem de maneira intercalada.

Agora que já conhecemos os medalhistas brasileiros, resposta: quantos atletas brasileiros receberam medalha nos jogos de verão e quantos receberam nos jogos de inverno?

In [4]:
athlete_events[athlete_events["NOC"] =="BRA"]
bra_summer = bra_medals[bra_medals['Season']== "Summer"]
bra_winter = bra_medals[bra_medals.Season == 'Winter']
bra_s_nodup = bra_summer.drop_duplicates(subset='Name', keep ='first')
bra_w_nodup = bra_winter.drop_duplicates(subset='Name', keep = 'first')
atletas_medalhistas_summer = bra_s_nodup.Name.value_counts().sum()
atletas_medalhistas_winter = bra_w_nodup.Name.value_counts().sum()
print(atletas_medalhistas_summer)
print(atletas_medalhistas_winter)

360
0

Os jogos de verão são bem mais populares do que os jogos de inverno no Brasil. Portanto, deste ponto em diante iremos focar apenas nos jogos de verão. Descarte de seu DataFrame os dados dos jogos de inverno.

In [5]:
print(bra_summer.describe())
bra_summer.head(5)

                  ID         Age      Height      Weight         Year
count     475.000000  474.000000  457.000000  447.000000   475.000000
mean    61432.410526   25.909283  182.494530   76.706935  1996.673684
std     39392.459600    5.074727   10.876725   13.199284    18.608583
min       918.000000   18.000000  154.000000   48.000000  1920.000000
25%     25902.000000   22.000000  175.000000   68.000000  1988.000000
50%     55088.000000   25.000000  182.000000   76.000000  2000.000000
75%     99937.500000   29.000000  190.000000   85.000000  2008.000000
max    134211.000000   51.000000  212.000000  160.000000  2016.000000

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

### Atletas do Brasil

Vamos conhecer um pouco melhor nossos atletas. Descubra a altura e peso médio de nossos medalhistas.

In [6]:
media_altura = bra_summer.Height.mean()
media_peso = bra_summer.Weight.mean()
print(media_altura)
print(media_peso)

182.4945295404814
76.7069351230425

Imaginamos que diferentes esportes podem beneficiar diferentes tipos físicos, certo? Então refaça a análise anterior, mas obtendo os valores médios **por esporte**.

In [7]:
esportes = bra_summer.Event.unique()
print(esportes)

["Football Men's Football" "Volleyball Women's Volleyball"
 'Sailing Mixed Three Person Keelboat' "Basketball Women's Basketball"
 "Basketball Men's Basketball" "Football Women's Football"
 "Beach Volleyball Men's Beach Volleyball" "Volleyball Men's Volleyball"
 "Boxing Women's Lightweight" "Beach Volleyball Women's Beach Volleyball"
 "Shooting Men's Free Pistol, 50 metres, Team" 'Sailing Mixed Multihull'
 "Swimming Men's 100 metres Freestyle"
 "Swimming Men's 200 metres Freestyle"
 "Swimming Men's 4 x 100 metres Freestyle Relay"
 "Athletics Men's Pole Vault" "Judo Men's Lightweight"
 "Judo Men's Half-Middleweight" "Judo Men's Half-Lightweight"
 "Judo Men's Middleweight" "Swimming Men's 50 metres Freestyle"
 "Boxing Men's Lightweight" 'Sailing Mixed Two Person Heavyweight Dinghy'
 "Athletics Men's 800 metres" "Athletics Men's High Jump"
 "Shooting Men's Free Pistol, 50 metres" "Athletics Men's Triple Jump"
 "Athletics Men's 4 x 100 metres Relay" "Judo Women's Half-Heavyweight"
 "Judo Men's Heavyweight" "Athletics Men's 200 metres"
 'Equestrianism Mixed Jumping, Team' "Athletics Men's Marathon"
 "Boxing Men's Flyweight" "Swimming Men's 4 x 200 metres Freestyle Relay"
 "Taekwondo Women's Heavyweight" 'Sailing Mixed Two Person Keelboat'
 "Boxing Men's Light-Heavyweight" "Sailing Men's Two Person Keelboat"
 "Boxing Men's Middleweight" "Sailing Women's Skiff"
 "Gymnastics Men's Floor Exercise" "Judo Men's Half-Heavyweight"
 "Judo Men's Extra-Lightweight" "Athletics Women's Long Jump"
 "Modern Pentathlon Women's Individual" "Judo Women's Extra-Lightweight"
 "Swimming Men's 1,500 metres Freestyle"
 "Swimming Women's 10 kilometres Open Water"
 "Sailing Women's Two Person Dinghy"
 "Shooting Men's Military Pistol, 30 metres"
 'Sailing Mixed Two Person Dinghy'
 "Swimming Men's 400 metres Individual Medley"
 'Equestrianism Mixed Jumping, Individual' "Judo Women's Lightweight"
 "Canoeing Men's Canadian Singles, 200 metres"
 "Canoeing Men's Canadian Singles, 1,000 metres"
 "Canoeing Men's Canadian Doubles, 1,000 metres"
 'Sailing Mixed One Person Dinghy' "Taekwondo Men's Heavyweight"
 "Shooting Men's Air Pistol, 10 metres" "Gymnastics Men's Rings"]

In [8]:

esportes = bra_summer.Sport.unique()
print(esportes)
bra_s_hmean =bra_summer.groupby('Event')['Height'].mean()
bra_s_wmean = bra_summer.groupby('Event')['Weight'].mean()


bra_s_mean = pd.concat([bra_s_hmean,bra_s_wmean], axis=1)
bra_s_mean = bra_s_mean.rename(columns = {'Height': 'Height_mean_WM',
                                         'Weight':'Weight_mean_WM'})
bra_s_mean

['Football' 'Volleyball' 'Sailing' 'Basketball' 'Beach Volleyball'
 'Boxing' 'Shooting' 'Swimming' 'Athletics' 'Judo' 'Equestrianism'
 'Taekwondo' 'Gymnastics' 'Modern Pentathlon' 'Canoeing']

                                           Height_mean_WM  Weight_mean_WM
Event
Athletics Men's 200 metres                     187.000000       74.000000
Athletics Men's 4 x 100 metres Relay           180.230769       78.538462
Athletics Men's 800 metres                     187.000000       74.000000
Athletics Men's High Jump                      186.000000       74.000000
Athletics Men's Marathon                       168.000000       54.000000
...                                                   ...             ...
Swimming Women's 10 kilometres Open Water      165.000000       52.000000
Taekwondo Men's Heavyweight                    190.000000       90.000000
Taekwondo Women's Heavyweight                  178.000000       69.000000
Volleyball Men's Volleyball                    195.361111       87.930556
Volleyball Women's Volleyball                  183.437500       71.020833

[62 rows x 2 columns]

Será que os dados acima influenciaram no interesse geral dos atletas pelo esporte ou realmente impactaram no desempenho deles? Podemos tentar descobrir se há algum tipo de correlação.

Você ainda possui o dataframe original contendo todos os atletas brasileiros, incluindo os sem medalha? Obtenha os valores médios de peso e altura por esporte daquele dataframe e compare-o com os dos medalhistas. Há alguma diferença significativa em algum esporte?

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

bra_no_medal = bra_athl[bra_athl["Medal"].isnull()]
bra_nm_hmean = bra_no_medal.groupby('Event')['Height'].mean()
bra_nm_wmean  = bra_no_medal.groupby('Event')['Weight'].mean()
bra_nm_mean = pd.concat([bra_nm_hmean,bra_nm_wmean], axis=1)
bra_nm_mean = bra_nm_mean.rename(columns = {'Height': 'Height_mean_NM',
                                         'Weight':'Weight_mean_NM'})
bra_nm_mean

bra_tot_mean = pd.concat([bra_s_mean, bra_nm_mean], axis =1)
bra_tot_mean['Height_Dif'] = bra_tot_mean['Height_mean_WM'] - bra_tot_mean['Height_mean_NM']
bra_tot_mean['Weight_Dif'] = bra_tot_mean['Weight_mean_WM'] - bra_tot_mean['Weight_mean_NM']
bra_tot_mean=bra_tot_mean.dropna()
bra_tot_mean

,Height_mean_WM,Weight_mean_WM,Height_mean_NM,Weight_mean_NM,Height_Dif,Weight_Dif
Event,,,,,,
Athletics Men's 200 metres,187.000000,74.000000,182.428571,76.142857,4.571429,-2.142857
Athletics Men's 4 x 100 metres Relay,180.230769,78.538462,178.791667,71.000000,1.439103,7.538462
Athletics Men's 800 metres,187.000000,74.000000,179.444444,67.500000,7.555556,6.500000
Athletics Men's High Jump,186.000000,74.000000,186.000000,72.714286,0.000000,1.285714
Athletics Men's Marathon,168.000000,54.000000,171.333333,59.434783,-3.333333,-5.434783
Athletics Men's Pole Vault,183.000000,75.000000,178.666667,72.000000,4.333333,3.000000
Athletics Men's Triple Jump,182.000000,72.000000,185.533333,79.933333,-3.533333,-7.933333
Athletics Women's Long Jump,173.000000,61.000000,167.090909,58.636364,5.909091,2.363636
Basketball Men's Basketball,187.592593,85.954545,197.262712,94.309735,-9.670119,-8.355189
Basketball Women's Basketball,183.375000,71.625000,182.655172,74.192308,0.719828,-2.567308
Beach Volleyball Men's Beach Volleyball,195.583333,93.416667,193.500000,90.083333,2.083333,3.333333
Beach Volleyball Women's Beach Volleyball,175.000000,64.076923,178.400000,66.000000,-3.400000,-1.923077
Boxing Men's Flyweight,160.000000,51.000000,164.500000,52.166667,-4.500000,-1.166667
Boxing Men's Light-Heavyweight,181.000000,77.000000,179.714286,80.428571,1.285714,-3.428571
Boxing Men's Lightweight,171.000000,57.000000,172.500000,61.666667,-1.500000,-4.666667
Boxing Men's Middleweight,171.000000,75.000000,179.800000,75.000000,-8.800000,0.000000
Boxing Women's Lightweight,167.000000,60.000000,167.000000,60.000000,0.000000,0.000000
"Canoeing Men's Canadian Doubles, 1,000 metres",175.000000,81.500000,177.500000,77.500000,-2.500000,4.000000
"Canoeing Men's Canadian Singles, 1,000 metres",175.000000,85.000000,173.000000,77.000000,2.000000,8.000000
"Canoeing Men's Canadian Singles, 200 metres",175.000000,85.000000,180.000000,77.000000,-5.000000,8.000000
"Equestrianism Mixed Jumping, Individual",177.000000,67.000000,177.813953,72.000000,-0.813953,-5.000000
"Equestrianism Mixed Jumping, Team",180.000000,76.000000,177.636364,71.310345,2.363636,4.689655
Football Men's Football,178.989691,73.322917,175.162500,71.409091,3.827191,1.913826
Football Women's Football,166.971429,60.742857,166.432836,59.742424,0.538593,1.000433
Gymnastics Men's Floor Exercise,169.500000,66.500000,169.600000,65.900000,-0.100000,0.600000
Gymnastics Men's Rings,156.000000,61.000000,169.444444,65.333333,-13.444444,-4.333333
Judo Men's Extra-Lightweight,164.000000,60.000000,164.375000,60.750000,-0.375000,-0.750000
Judo Men's Half-Heavyweight,177.500000,94.500000,185.875000,97.000000,-8.375000,-2.500000
Judo Men's Half-Lightweight,172.000000,66.000000,167.750000,66.375000,4.250000,-0.375000
Judo Men's Half-Middleweight,179.500000,85.500000,176.555556,78.444444,2.944444,7.055556
Judo Men's Heavyweight,203.000000,160.000000,190.571429,134.857143,12.428571,25.142857
Judo Men's Lightweight,175.000000,80.750000,171.000000,71.800000,4.000000,8.950000
Judo Men's Middleweight,179.000000,88.000000,177.400000,85.700000,1.600000,2.300000
Judo Women's Extra-Lightweight,154.000000,48.000000,156.000000,48.000000,-2.000000,0.000000
Judo Women's Half-Heavyweight,177.000000,78.000000,175.000000,78.000000,2.000000,0.000000
Judo Women's Lightweight,166.500000,57.000000,165.500000,57.000000,1.000000,0.000000
Modern Pentathlon Women's Individual,166.000000,55.000000,165.666667,54.333333,0.333333,0.666667
Sailing Mixed Multihull,184.833333,75.000000,179.500000,72.500000,5.333333,2.500000
Sailing Mixed One Person Dinghy,188.000000,76.000000,184.000000,85.111111,4.000000,-9.111111
Sailing Mixed Three Person Keelboat,178.333333,81.000000,180.250000,81.578947,-1.916667,-0.578947
Sailing Mixed Two Person Dinghy,175.000000,66.000000,177.250000,64.750000,-2.250000,1.250000
Sailing Mixed Two Person Heavyweight Dinghy,181.250000,79.250000,184.250000,81.400000,-3.000000,-2.150000
Sailing Mixed Two Person Keelboat,182.833333,91.166667,181.928571,87.818182,0.904762,3.348485
Sailing Women's Two Person Dinghy,171.000000,61.500000,167.000000,61.900000,4.000000,-0.400000
"Shooting Men's Air Pistol, 10 metres",169.000000,69.000000,177.666667,90.000000,-8.666667,-21.000000
Swimming Men's 100 metres Freestyle,196.250000,92.000000,188.238095,83.666667,8.011905,8.333333
Swimming Men's 200 metres Freestyle,203.000000,98.000000,186.066667,82.600000,16.933333,15.400000
Swimming Men's 4 x 100 metres Freestyle Relay,195.000000,87.750000,189.742857,84.914286,5.257143,2.835714
Swimming Men's 4 x 200 metres Freestyle Relay,183.000000,76.750000,185.527778,80.361111,-2.527778,-3.611111
Swimming Men's 400 metres Individual Medley,172.500000,69.500000,181.111111,74.555556,-8.611111,-5.055556
Swimming Men's 50 metres Freestyle,194.333333,81.666667,190.545455,83.909091,3.787879,-2.242424
Swimming Women's 10 kilometres Open Water,165.000000,52.000000,165.000000,59.000000,0.000000,-7.000000
Taekwondo Women's Heavyweight,178.000000,69.000000,178.000000,69.000000,0.000000,0.000000
Volleyball Men's Volleyball,195.361111,87.930556,189.923913,84.489130,5.437198,3.441425
Volleyball Women's Volleyball,183.437500,71.020833,180.071429,67.457143,3.366071,3.563690

Existe um detalhe importante passando batido até agora em nossa análise: as categorias esportivas costumam ser divididas por gênero justamente por conta de diferenças físicas entre homens e mulheres que poderiam influenciar no desempenho. Compare a altura e peso médios de atletas brasileiros por esporte segmentado por sexo.

In [10]:
'''bra_summer_sex = bra_summer.groupby(by=['Event','Sex'])
bra_summer_sex_h =bra_summer_sex['Height'].mean()
bra_summer_sex_h
bra_summer_sex_w=bra_summer_sex['Weight'].mean()
bra_summer_sex_w.head(60)'''

bra_sex = bra_athl.groupby(by=['Event','Sex'])
bra_sex_h =bra_sex['Height'].mean()
bra_sex_h
bra_sex_w=bra_sex['Weight'].mean()
bra_sex_w

Event                                           Sex
Alpine Skiing Men's Combined                    M       85.500000
Alpine Skiing Men's Downhill                    M       86.333333
Alpine Skiing Men's Giant Slalom                M       84.000000
Alpine Skiing Men's Slalom                      M       85.000000
Alpine Skiing Men's Super G                     M       85.500000
                                                          ...
Wrestling Men's Super-Heavyweight, Greco-Roman  M      120.000000
Wrestling Women's Heavyweight, Freestyle        F       76.000000
Wrestling Women's Light-Heavyweight, Freestyle  F       69.000000
Wrestling Women's Lightweight, Freestyle        F       57.000000
Wrestling Women's Middleweight, Freestyle       F       65.000000
Name: Weight, Length: 341, dtype: float64

Qual foi (ou quais foram) o maior medalhista brasileiro em quantidade total de medalhas?

In [11]:
bra_summer.Name.value_counts().head(10)

Robert Scheidt                           5
Torben Schmidt Grael                     5
Srgio "Escadinha" Dutra dos Santos       4
Gustavo Frana Borges                     4
Csar Augusto Cielo Filho                 3
Rodrigo de Paula Pessoa                  3
Dante Guimares Santos do Amaral          3
Bruno "Bruninho" Mossa de Rezende        3
Marcelo Bastos Ferreira                  3
Gilberto Amauri "Giba" de Godoy Filho    3
Name: Name, dtype: int64

E o(s) maior(es) em quantidade de medalhas de ouro?

In [12]:

bra_summer_gold = bra_summer[bra_summer['Medal']=='Gold']

bra_summer_gold_max = bra_summer_gold.Name.value_counts().reset_index()
bra_summer_gold_max

                              index  Name
0                    Robert Scheidt     2
1         Adhemar Ferreira da Silva     2
2        Fabiana Marcelino Claudino     2
3            Thasa Daher de Menezes     2
4            Giovane Farinazzo Gvio     2
..                              ...   ...
91               Maurren Higa Maggi     1
92     Neymar da Silva Santos Jnior     1
93     Marianne "Mari" Steinbrecher     1
94  Dante Guimares Santos do Amaral     1
95        Gabriel Fernando de Jesus     1

[96 rows x 2 columns]

Qual esporte rendeu mais medalhas de ouro para o Brasil? E qual rendeu mais medalhas no total?

**DICA:** tome muito cuidado nessa análise: cada **evento esportivo** rende 1 medalha. Por exemplo, quando a equipe de futebol vence, isso é considerado 1 medalha, mesmo tendo cerca de 20 atletas medalhistas na equipe.

In [13]:
bra_summer_gold.duplicated(subset=['Sport', 'Year'])
bra_summer_gold_nd = bra_summer_gold.drop_duplicates(subset=['Sport', 'Year'], keep='first')
bra_summer_gold_nd.groupby('Sport')['Medal'].size().sort_values(ascending=False)
bra_summer_gold_sport = bra_summer_gold_nd.groupby('Sport')['Medal'].size().sort_values(ascending=False)
bra_summer_gold_sport

Sport
Athletics           5
Volleyball          5
Judo                4
Sailing             4
Beach Volleyball    3
Boxing              1
Equestrianism       1
Football            1
Gymnastics          1
Shooting            1
Swimming            1
Name: Medal, dtype: int64

In [14]:
bra_summer_nd =bra_summer.drop_duplicates(subset=['Sport', 'Year'], keep='first')
bra_summer_nd.groupby('Sport')['Medal'].size().sort_values(ascending=False)
bra_summer_sport = bra_summer_nd.groupby('Sport')['Medal'].size().sort_values(ascending=False)
bra_summer_sport

Sport
Athletics            13
Sailing              11
Judo                 10
Swimming             10
Volleyball            8
Football              7
Beach Volleyball      6
Basketball            5
Boxing                3
Equestrianism         3
Gymnastics            2
Shooting              2
Taekwondo             2
Canoeing              1
Modern Pentathlon     1
Name: Medal, dtype: int64

Cada "categoria" dentro de um esporte é considerado um evento. Por exemplo, dentro de "atletismo", temos uma competição de 100m masculina, uma de 100m feminino, um revezamento 4 x 100m masculino, um revezamento 4 x 100m feminino, uma competição de 400m masculino, uma de 400m feminino, uma maratona masculina, uma maratona feminina, e assim sucessivamente.

Sabendo disso, qual evento esportivo mais rendeu medalhas de ouro para o Brasil? E total de medalhas?

In [15]:
bra_summer_gold.duplicated(subset=['Event', 'Year'])
bra_summer_gold_e_nd = bra_summer_gold.drop_duplicates(subset=['Event', 'Year'], keep='first')
bra_summer_gold_e_nd.groupby('Event')['Medal'].size().sort_values(ascending=False)
bra_summer_gold_event = bra_summer_gold_e_nd.groupby('Event')['Medal'].size().sort_values(ascending=False)
bra_summer_gold_event

Event
Volleyball Men's Volleyball                  3
Volleyball Women's Volleyball                2
Athletics Men's Triple Jump                  2
Beach Volleyball Men's Beach Volleyball      2
Sailing Mixed One Person Dinghy              2
Judo Women's Lightweight                     1
Swimming Men's 50 metres Freestyle           1
Shooting Men's Military Pistol, 30 metres    1
Sailing Women's Skiff                        1
Sailing Mixed Two Person Keelboat            1
Sailing Mixed Two Person Dinghy              1
Sailing Mixed Multihull                      1
Sailing Men's Two Person Keelboat            1
Athletics Men's 800 metres                   1
Athletics Men's Pole Vault                   1
Judo Men's Half-Lightweight                  1
Judo Men's Half-Heavyweight                  1
Gymnastics Men's Rings                       1
Football Men's Football                      1
Equestrianism Mixed Jumping, Individual      1
Boxing Men's Lightweight                     1
Beach Volleyball Women's Beach Volleyball    1
Athletics Women's Long Jump                  1
Judo Women's Extra-Lightweight               1
Name: Medal, dtype: int64

In [16]:
bra_summer.duplicated(subset=['Event', 'Year'])
bra_summer_e_nd = bra_summer.drop_duplicates(subset=['Event', 'Year'], keep='first')
bra_summer_e_nd.groupby('Event')['Medal'].size().sort_values(ascending=False)
bra_summer_event = bra_summer_e_nd.groupby('Event')['Medal'].size().sort_values(ascending=False)
bra_summer_event

Event
Volleyball Men's Volleyball                  6
Football Men's Football                      6
Athletics Men's Triple Jump                  6
Beach Volleyball Men's Beach Volleyball      5
Beach Volleyball Women's Beach Volleyball    5
                                            ..
Equestrianism Mixed Jumping, Individual      1
Judo Women's Extra-Lightweight               1
Athletics Men's Pole Vault                   1
Gymnastics Men's Floor Exercise              1
Athletics Men's 200 metres                   1
Name: Medal, Length: 62, dtype: int64

Para finalizar sobre o Brasil: obtenha o total de medalhas de ouro, prata, bronze e total por ano.

In [17]:
total_por_tipo = bra_summer['Medal'].value_counts()
total_por_tipo

Bronze    191
Silver    175
Gold      109
Name: Medal, dtype: int64

In [18]:
total_tipo_ano = bra_summer.groupby('Year')['Medal'].value_counts() #Caso queira ver
total_por_ano = bra_summer.groupby('Year')['Medal'].size().reset_index()
total_por_ano

    Year  Medal
0   1920      7
1   1948     10
2   1952      3
3   1956      1
4   1960     13
5   1964     12
6   1968      4
7   1972      2
8   1976      3
9   1980      9
10  1984     36
11  1988     23
12  1992     14
13  1996     63
14  2000     48
15  2004     40
16  2008     78
17  2012     59
18  2016     50

## 2. O mundo nos jogos de verão

Vamos agora analisar um pouquinho do que aconteceu nas Olimpíadas de verão em todo o mundo.

Retome o DataFrame original e descarte as informações sobre os jogos de inverno.

In [19]:
athlete_events
world_summer = athlete_events[athlete_events['Season']== "Summer"]
world_summer

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

Obtenha a lista de todos os esportes já disputados nas olimpíadas de verão.

In [20]:
esportes = list(world_summer['Sport'].unique())
print(esportes)

['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics', 'Swimming', 'Badminton', 'Sailing', 'Gymnastics', 'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling', 'Water Polo', 'Hockey', 'Rowing', 'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon', 'Golf', 'Softball', 'Archery', 'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball', 'Rhythmic Gymnastics', 'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon', 'Rugby', 'Lacrosse', 'Polo', 'Cricket', 'Ice Hockey', 'Racquets', 'Motorboating', 'Croquet', 'Figure Skating', 'Jeu De Paume', 'Roque', 'Basque Pelota', 'Alpinism', 'Aeronautics']

Obtenha a lista de todas as modalidades esportivas já disputadas nas olimpíadas de verão.

In [21]:
modalidades = list(world_summer['Event'].unique())
print(modalidades)

["Basketball Men's Basketball", "Judo Men's Extra-Lightweight", "Football Men's Football", "Tug-Of-War Men's Tug-Of-War", "Athletics Women's 100 metres", "Athletics Women's 4 x 100 metres Relay", "Swimming Men's 400 metres Freestyle", "Badminton Men's Singles", "Sailing Women's Windsurfer", "Swimming Men's 200 metres Breaststroke", "Swimming Men's 400 metres Breaststroke", "Gymnastics Men's Individual All-Around", "Gymnastics Men's Team All-Around", "Gymnastics Men's Floor Exercise", "Gymnastics Men's Horse Vault", "Gymnastics Men's Parallel Bars", "Gymnastics Men's Horizontal Bar", "Gymnastics Men's Rings", "Gymnastics Men's Pommelled Horse", "Athletics Men's Shot Put", 'Art Competitions Mixed Sculpturing, Unknown Event', "Handball Women's Handball", "Weightlifting Women's Super-Heavyweight", "Wrestling Men's Light-Heavyweight, Greco-Roman", "Gymnastics Men's Team All-Around, Free System", "Water Polo Men's Water Polo", 'Sailing Mixed Three Person Keelboat', "Hockey Women's Hockey", "Rowing Men's Lightweight Double Sculls", "Athletics Men's Pole Vault", "Athletics Men's High Jump", "Sailing Men's Two Person Dinghy", "Athletics Men's 1,500 metres", "Swimming Men's 100 metres Butterfly", "Swimming Men's 200 metres Butterfly", "Swimming Men's 4 x 100 metres Medley Relay", "Football Women's Football", "Fencing Men's Foil, Individual", "Fencing Men's epee, Individual", "Fencing Men's epee, Team", 'Sailing Mixed 8 metres', 'Equestrianism Mixed Jumping, Individual', "Shooting Men's Small-Bore Rifle, Prone, 50 metres", "Shooting Men's Rapid-Fire Pistol, 25 metres", "Shooting Men's Trap", "Athletics Men's 4 x 100 metres Relay", "Athletics Men's Long Jump", "Boxing Men's Light-Welterweight", "Athletics Women's Javelin Throw", "Wrestling Men's Heavyweight, Freestyle", "Taekwondo Men's Flyweight", "Boxing Men's Heavyweight", "Athletics Men's 5,000 metres", "Cycling Men's Road Race, Individual", "Cycling Men's Road Race, Team", "Weightlifting Men's Lightweight", "Weightlifting Men's Middleweight", "Rowing Men's Coxless Pairs", "Judo Men's Half-Middleweight", "Taekwondo Women's Flyweight", "Boxing Men's Flyweight", "Basketball Women's Basketball", "Diving Men's Platform", "Canoeing Men's Canadian Doubles, 500 metres", "Canoeing Men's Canadian Doubles, 1,000 metres", "Canoeing Men's Kayak Fours, 1,000 metres", "Handball Men's Handball", "Rowing Women's Coxless Pairs", "Boxing Men's Middleweight", "Judo Men's Lightweight", "Boxing Men's Featherweight", "Tennis Men's Doubles", 'Shooting Mixed Skeet', "Wrestling Men's Featherweight, Freestyle", 'Sailing Mixed Two Person Heavyweight Dinghy', "Athletics Women's Shot Put", "Rowing Men's Coxed Eights", "Cycling Women's Sprint", "Cycling Women's 500 metres Time Trial", "Athletics Men's 110 metres Hurdles", 'Shooting Mixed Trap', "Athletics Women's Marathon", "Athletics Men's 100 metres", "Fencing Men's Foil, Team", "Fencing Men's Sabre, Team", "Swimming Men's 100 metres Freestyle", "Swimming Men's 4 x 200 metres Freestyle Relay", "Boxing Men's Lightweight", "Modern Pentathlon Men's Individual", "Boxing Men's Welterweight", "Rowing Men's Quadruple Sculls", "Rowing Men's Double Sculls", "Rowing Men's Coxed Pairs", "Athletics Men's 400 metres Hurdles", "Athletics Men's 400 metres", "Athletics Men's Hammer Throw", "Weightlifting Men's Featherweight", "Athletics Men's 800 metres", "Hockey Men's Hockey", "Rowing Women's Single Sculls", "Swimming Men's 50 metres Freestyle", "Weightlifting Women's Featherweight", "Water Polo Women's Water Polo", "Weightlifting Men's Heavyweight", 'Equestrianism Mixed Three-Day Event, Individual', 'Equestrianism Mixed Three-Day Event, Team', "Sailing Women's Three Person Keelboat", "Cycling Women's Road Race, Individual", "Golf Women's Individual", "Softball Women's Softball", "Archery Women's Individual", "Wrestling Men's Heavyweight, Greco-Roman", "Volleyball Men's Volleyball", "Taekwondo Women's Heavyweight", "Synchronized Swimming Women's Duet", "Synchronized Swimming Women's Team", "Taekwondo Women's Featherweight", "Athletics Men's Marathon", "Athletics Men's 4 x 400 metres Relay", "Athletics Men's 10,000 metres", "Athletics Women's 3,000 metres", "Diving Women's Platform", "Shooting Men's Air Rifle, 10 metres", "Athletics Men's 200 metres", "Weightlifting Men's Flyweight", "Swimming Men's 100 metres Backstroke", "Weightlifting Men's Light-Heavyweight", "Wrestling Men's Lightweight, Greco-Roman", "Fencing Men's Sabre, Individual", "Wrestling Men's Super-Heavyweight, Greco-Roman", "Shooting Men's Free Pistol, 50 metres", "Shooting Men's Air Pistol, 10 metres", "Rowing Men's Coxless Fours", "Boxing Men's Light-Flyweight", "Boxing Men's Super-Heavyweight", "Wrestling Men's Flyweight, Greco-Roman", "Shooting Women's Air Rifle, 10 metres", "Weightlifting Men's Middle-Heavyweight", "Athletics Men's Javelin Throw", "Volleyball Women's Volleyball", "Wrestling Men's Welterweight, Greco-Roman", "Wrestling Men's Middleweight, Greco-Roman", "Athletics Men's 3,000 metres Steeplechase", "Wrestling Men's Middleweight, Freestyle", "Swimming Women's 100 metres Backstroke", "Swimming Women's 200 metres Backstroke", "Swimming Women's 4 x 100 metres Medley Relay", "Wrestling Men's Light-Heavyweight, Freestyle", "Modern Pentathlon Men's Team", "Boxing Men's Bantamweight", "Athletics Women's 200 metres", "Table Tennis Women's Singles", "Table Tennis Women's Doubles", "Shooting Men's Skeet", "Swimming Women's 50 metres Freestyle", "Shooting Men's Small-Bore Rifle, Three Positions, 50 metres", "Athletics Men's Triple Jump", "Weightlifting Women's Lightweight", "Athletics Women's Long Jump", "Fencing Women's epee, Individual", "Swimming Men's 200 metres Freestyle", "Swimming Men's 4 x 100 metres Freestyle Relay", "Swimming Men's 200 metres Backstroke", "Swimming Men's 200 metres Individual Medley", "Swimming Men's 400 metres Individual Medley", "Badminton Women's Singles", "Boxing Men's Light-Middleweight", "Tennis Men's Singles", "Wrestling Men's Bantamweight, Freestyle", "Wrestling Men's Flyweight, Freestyle", "Athletics Women's 5,000 metres", "Weightlifting Women's Light-Heavyweight", "Weightlifting Women's Heavyweight", "Athletics Men's Discus Throw", "Taekwondo Men's Featherweight", "Taekwondo Men's Welterweight", "Judo Men's Heavyweight", "Cycling Men's Sprint", "Wrestling Men's Lightweight, Freestyle", "Baseball Men's Baseball", "Rowing Men's Coxed Fours", "Cycling Men's 100 kilometres Team Time Trial", "Rhythmic Gymnastics Women's Group", 'Art Competitions Mixed Architecture, Designs For Town Planning', 'Art Competitions Mixed Architecture, Architectural Designs', "Gymnastics Women's Individual All-Around", "Gymnastics Women's Team All-Around", "Gymnastics Women's Floor Exercise", "Gymnastics Women's Horse Vault", "Gymnastics Women's Uneven Bars", "Gymnastics Women's Balance Beam", "Diving Women's Springboard", "Diving Women's Synchronized Springboard", "Athletics Women's 10,000 metres", 'Sailing Mixed 7 metres', "Judo Women's Half-Middleweight", "Athletics Men's Decathlon", "Wrestling Men's Middleweight A, Greco-Roman", "Athletics Women's Discus Throw", "Swimming Women's 4 x 100 metres Freestyle Relay", "Athletics Women's 1,500 metres", "Shooting Women's Air Pistol, 10 metres", "Shooting Women's Sporting Pistol, 25 metres", "Canoeing Men's Kayak Doubles, 500 metres", "Canoeing Men's Kayak Singles, 500 metres", "Canoeing Men's Kayak Singles, 1,000 metres", "Shooting Men's Running Target, 50 metres", "Judo Women's Half-Heavyweight", "Athletics Women's Pole Vault", "Rugby Sevens Women's Rugby Sevens", "Table Tennis Men's Team", "Rowing Women's Coxed Eights", "Athletics Women's 4 x 400 metres Relay", "Cycling Men's 1,000 metres Time Trial", "Cycling Men's Individual Pursuit, 4,000 metres", "Wrestling Men's Welterweight, Freestyle", "Wrestling Men's Bantamweight, Greco-Roman", "Rowing Women's Lightweight Double Sculls", "Athletics Women's 800 metres", "Rowing Women's Coxed Quadruple Sculls", "Rhythmic Gymnastics Women's Individual", "Canoeing Men's Kayak Singles, Slalom", "Archery Men's Individual", "Archery Men's Team", "Athletics Women's 400 metres", "Trampolining Men's Individual", "Beach Volleyball Men's Beach Volleyball", "Cycling Women's Mountainbike, Cross-Country", "Athletics Men's Javelin Throw, Both Hands", "Triathlon Women's Olympic Distance", "Gymnastics Women's Team Portable Apparatus", "Cycling Men's Mountainbike, Cross-Country", "Athletics Women's 400 metres Hurdles", "Diving Men's Springboard", "Wrestling Men's Featherweight, Greco-Roman", "Table Tennis Men's Singles", 'Art Competitions Mixed Painting', "Judo Men's Open Class", "Rowing Women's Quadruple Sculls", "Gymnastics Men's Team All-Around, Swedish System", "Athletics Women's Pentathlon", 'Art Competitions Mixed Painting, Unknown Event', "Cycling Men's Team Pursuit, 4,000 metres", "Weightlifting Women's Middleweight", "Swimming Men's 1,500 metres Freestyle", "Wrestling Women's Light-Heavyweight, Freestyle", "Swimming Women's 100 metres Freestyle", "Equestrianism Men's Jumping, Individual", "Equestrianism Men's Jumping, Team", "Equestrianism Men's Three-Day Event, Individual", "Equestrianism Men's Three-Day Event, Team", "Athletics Women's High Jump", "Canoeing Women's Kayak Fours, 500 metres", "Sailing Men's One Person Dinghy", "Trampolining Women's Individual", 'Art Competitions Mixed Literature', "Judo Men's Middleweight", "Judo Men's Half-Lightweight", "Fencing Women's Foil, Team", "Swimming Women's 200 metres Butterfly", "Swimming Women's 400 metres Individual Medley", "Golf Men's Individual", "Athletics Men's Standing High Jump", "Athletics Men's Standing Long Jump", "Athletics Men's 20 kilometres Walk", "Swimming Men's 220 yard Freestyle", "Swimming Men's 880 yard Freestyle", "Swimming Men's One Mile Freestyle", "Swimming Men's 4 x 50 Yard Freestyle Relay", "Swimming Men's Plunge For Distance", "Shooting Men's Free Rifle, Three Positions, 300 metres", "Shooting Men's Military Rifle, Three Positions, 300 metres", "Shooting Men's Military Rifle, Any Position, 600 metres", "Shooting Men's Military Rifle, 200, 400, 500 and 600 metres, Team", "Shooting Men's Military Rifle, Prone, 300 metres", "Judo Men's Half-Heavyweight", "Archery Women's Team", "Athletics Men's 50 kilometres Walk", "Rowing Women's Double Sculls", 'Sailing Mixed 6 metres', "Boxing Men's Light-Heavyweight", "Boxing Women's Flyweight", "Athletics Women's 100 metres Hurdles", "Athletics Men's Discus Throw, Greek Style", 'Sailing Mixed One Person Dinghy', "Wrestling Women's Heavyweight, Freestyle", 'Badminton Mixed Doubles', "Fencing Women's Foil, Individual", 'Sailing Mixed Two Person Keelboat', "Shooting Men's Military Rifle, 300 metres and 600 metres, Prone, Team", "Table Tennis Men's Doubles", "Wrestling Men's Light-Flyweight, Freestyle", "Wrestling Women's Featherweight, Freestyle", "Swimming Women's 200 metres Freestyle", "Swimming Women's 400 metres Freestyle", "Swimming Women's 200 metres Individual Medley", "Sailing Men's Windsurfer", "Shooting Men's Running Target, Single Shot", "Shooting Men's Running Target, Double Shot", "Rugby Sevens Men's Rugby Sevens", "Wrestling Women's Lightweight, Freestyle", "Modern Pentathlon Women's Individual", "Canoeing Men's Canadian Doubles, Slalom", "Judo Women's Half-Lightweight", "Diving Women's Plain High", "Equestrianism Men's Dressage, Individual", "Equestrianism Men's Dressage, Team", "Tennis Women's Singles, Covered Courts", "Diving Men's Plain High", 'Shooting Mixed Small-Bore Rifle, Three Positions, 50 metres', 'Shooting Mixed Small-Bore Rifle, Prone, 50 metres', "Swimming Women's 800 metres Freestyle", "Sailing Women's Two Person Dinghy", "Shooting Men's Free Pistol, 50 metres, Team", "Shooting Men's Free Rifle, Three Positions, 300 metres, Team", "Shooting Men's Military Rifle, Prone, 300 metres, Team", "Shooting Men's Military Rifle, Prone, 600 metres, Team", "Shooting Men's Military Rifle, Standing, 300 metres, Team", "Shooting Men's Free Rifle, Prone, 600 metres", "Shooting Men's Free Rifle, 400, 600 and 800 metres, Team", "Rowing Men's Single Sculls", "Cycling Men's Tandem Sprint, 2,000 metres", "Athletics Women's Heptathlon", "Cycling Men's Points Race", "Synchronized Swimming Women's Solo", 'Equestrianism Mixed Dressage, Individual', 'Equestrianism Mixed Dressage, Team', "Swimming Men's 100 metres Breaststroke", 'Shooting Mixed Free Pistol, 50 metres', "Sailing Women's Skiff", "Canoeing Men's Kayak Doubles, 10,000 metres", "Triathlon Men's Olympic Distance", "Sailing Women's One Person Dinghy", "Rowing Men's 17-Man Naval Rowing Boats", "Beach Volleyball Women's Beach Volleyball", "Weightlifting Men's Super-Heavyweight", "Rowing Men's Lightweight Coxless Fours", "Wrestling Men's Light-Flyweight, Greco-Roman", "Canoeing Men's Canadian Singles, 1,000 metres", 'Sailing Mixed 5.5 metres', 'Equestrianism Mixed Jumping, Team', "Diving Men's Synchronized Platform", "Canoeing Women's Kayak Singles, Slalom", "Weightlifting Women's Flyweight", "Swimming Women's 100 metres Breaststroke", "Swimming Women's 200 metres Breaststroke", "Wrestling Men's Middleweight B, Greco-Roman", "Athletics Men's Stone Throw", "Athletics Men's Javelin Throw, Freestyle", "Athletics Men's Pentathlon (Ancient)", "Shooting Women's Small-Bore Rifle, Three Positions, 50 metres", "Swimming Women's 100 metres Butterfly", "Weightlifting Men's Heavyweight I", "Athletics Women's 3,000 metres Steeplechase", "Athletics Men's Shot Put, Both Hands", "Shooting Women's Trap", "Badminton Men's Doubles", "Swimming Women's 4 x 200 metres Freestyle Relay", "Athletics Men's 10 kilometres Walk", "Athletics Women's 20 kilometres Walk", "Athletics Women's 80 metres Hurdles", "Sailing Men's One Person Heavyweight Dinghy", 'Art Competitions Mixed Painting, Paintings', 'Tennis Mixed Doubles, Covered Courts', "Cycling Men's Madison", 'Art Competitions Mixed Sculpturing, Statues', "Rugby Men's Rugby", "Weightlifting Men's Heavyweight II", "Canoeing Women's Kayak Doubles, 500 metres", "Cycling Men's Individual Time Trial", "Judo Women's Heavyweight", "Canoeing Men's Kayak Doubles, 1,000 metres", "Gymnastics Men's Individual All-Around, 5 Events", "Wrestling Men's Super-Heavyweight, Freestyle", "Fencing Women's Sabre, Team", "Shooting Men's Double Trap", "Weightlifting Men's Bantamweight", "Taekwondo Men's Heavyweight", 'Sailing Mixed Windsurfer', "Taekwondo Women's Welterweight", 'Shooting Mixed Free Rifle, Three Positions, 300 metres', "Cycling Men's 50 kilometres", 'Shooting Mixed Rapid-Fire Pistol, 25 metres', "Cycling Men's 333 metres Time Trial", "Cycling Men's 20 kilometres", "Canoeing Men's Kayak Singles, 10,000 metres", 'Sailing Mixed Open', 'Sailing Mixed 1-2 Ton', "Canoeing Men's Canadian Singles, Slalom", 'Sailing Mixed Multihull', "Badminton Women's Doubles", "Diving Women's Synchronized Platform", "Athletics Women's Triple Jump", 'Art Competitions Mixed Painting, Drawings And Water Colors', "Shooting Men's Dueling Pistol, 30 metres", "Boxing Women's Lightweight", "Cycling Women's BMX", "Canoeing Men's Kayak Doubles, 200 metres", "Fencing Men's Sabre, Masters, Individual", "Lacrosse Men's Lacrosse", "Canoeing Women's Kayak Singles, 500 metres", "Athletics Women's 10 kilometres Walk", 'Sailing Mixed 12 metres', "Judo Women's Extra-Lightweight", "Diving Men's Synchronized Springboard", "Rowing Men's Coxed Fours, Outriggers", "Gymnastics Men's Rope Climbing", 'Sailing Mixed Two Person Dinghy', 'Art Competitions Mixed Architecture, Unknown Event', "Archery Men's Target Archery, 28 metres, Team", "Archery Men's Target Archery, 33 metres, Team", "Archery Men's Target Archery, 50 metres, Team", "Shooting Men's Running Target, 10 metres", "Polo Men's Polo", "Rowing Men's Coxed Fours, Inriggers", "Cycling Men's BMX", 'Art Competitions Mixed Sculpturing', "Athletics Men's Cross-Country, Individual", "Athletics Men's Cross-Country, Team", 'Sailing Mixed 40 metres', "Gymnastics Men's Club Swinging", "Tennis Women's Singles", 'Tennis Mixed Doubles', "Tennis Women's Doubles", "Judo Women's Middleweight", "Judo Women's Lightweight", "Canoeing Women's Kayak Singles, 200 metres", "Canoeing Men's Kayak Relay 4 x 500 metres", "Athletics Men's 3,000 metres, Team", "Shooting Men's Small-Bore Rifle, Prone, 50 and 100 yards", "Shooting Men's Small-Bore Rifle, 50 and 100 yards, Team", "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 yards", "Shooting Men's Small-Bore Rifle, Moving Target, 25 yards", "Shooting Men's Military Pistol, Team", "Rowing Women's Coxed Fours", "Weightlifting Men's Unlimited, One Hand", "Canoeing Men's Canadian Singles, 500 metres", "Fencing Men's Foil, Masters, Individual", "Fencing Men's epee, Masters, Individual", "Gymnastics Men's Individual All-Around, Field Sports", "Gymnastics Men's Individual All-Around, Apparatus Work", 'Art Competitions Mixed Music, Compositions For Solo Or Chorus', "Fencing Women's epee, Team", "Swimming Men's 4,000 metres Freestyle", "Swimming Men's Underwater Swimming", 'Sailing Mixed Skiff', "Shooting Men's Military Rifle, 200/500/600/800/900/1,000 Yards, Team", "Shooting Men's Running Target, Single And Double Shot", "Shooting Men's Small-Bore Rifle, Any Position, 50 metres", "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 metres", "Swimming Women's 10 kilometres Open Water", "Cycling Men's Team Pursuit, 1,980 yards", "Cycling Men's 5,000 metres", "Cycling Men's 100 kilometres", "Cricket Men's Cricket", "Canoeing Men's Canadian Singles, 10,000 metres", "Boxing Women's Middleweight", "Sailing Men's Skiff", "Athletics Men's Pentathlon", "Swimming Men's 1,200 metres Freestyle", "Shooting Women's Skeet", "Cycling Men's 1/4 mile", "Cycling Men's 1/2 mile", "Cycling Men's 5 mile", "Cycling Men's 25 mile", "Shooting Men's Small-Bore Rifle, Standing, 50 metres", "Shooting Men's Small Bore-Rifle, Standing, 50 metres, Team", "Shooting Men's Free Rifle, 1,000 Yards", "Cycling Women's Team Pursuit", "Athletics Men's 3,000 metres Walk", 'Shooting Mixed Running Target, 50 metres', "Cycling Women's Individual Time Trial", "Fencing Women's Sabre, Individual", "Fencing Men's Sabre, Individual, Three Hits", "Archery Women's Double National Round", "Cycling Men's Omnium", 'Equestrianism Mixed Hacks And Hunter Combined', 'Sailing Mixed 10 metres', "Shooting Men's Trap, Team", "Cycling Women's Individual Pursuit, 3,000 metres", "Cycling Women's Points Race", "Sailing Men's Two Person Keelboat", "Cycling Men's Keirin", "Cycling Men's Team Sprint", "Athletics Men's 5 mile", "Shooting Men's Running Target, Single Shot, Team", "Ice Hockey Men's Ice Hockey", "Racquets Men's Singles", "Racquets Men's Doubles", 'Art Competitions Mixed Literature, Lyric Works', 'Motorboating Mixed A-Class (Open)', "Archery Men's Continental Style", 'Art Competitions Mixed Painting, Graphic Arts', "Wrestling Women's Flyweight, Freestyle", 'Art Competitions Mixed Literature, Unknown Event', 'Sailing Mixed 0.5-1 Ton', 'Art Competitions Mixed Painting, Applied Arts', 'Croquet Mixed Singles, One Ball', 'Croquet Mixed Doubles', "Shooting Men's Running Target, Double Shot, Team", "Shooting Men's Free Pistol, 50 yards", "Shooting Men's Free Pistol, 50 yards, Team", "Fencing Men's epee, Masters and Amateurs, Individual", "Swimming Men's 10 kilometres Open Water", 'Art Competitions Mixed Music, Compositions For Orchestra', "Archery Men's Double York Round", "Wrestling Women's Middleweight, Freestyle", "Equestrianism Men's Vaulting, Individual", "Swimming Men's 4 x 250 metres Freestyle Relay", "Table Tennis Women's Team", "Athletics Women's Hammer Throw", "Canoeing Men's Kayak Singles, 200 metres", "Shooting Women's Double Trap", "Rowing Men's 6-Man Naval Rowing Boats", 'Art Competitions Mixed Music', "Shooting Men's Free Rifle, Kneeling, 300 metres", "Shooting Men's Free Rifle, Prone, 300 metres", "Shooting Men's Free Rifle, Standing, 300 metres", "Athletics Men's 3,200 metres Steeplechase", "Rowing Women's Coxless Fours", "Tennis M

Obtenha a lista de todos os países que já disputaram olimpíadas.

In [22]:
paises = world_summer['NOC'].unique()
paises

array(['CHN', 'DEN', 'NED', 'FIN', 'NOR', 'ROU', 'EST', 'FRA', 'MAR',
       'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD', 'RUS',
       'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX', 'USA',
       'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ',
       'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA',
       'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM',
       'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR',
       'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO',
       'SUI', 'BRA', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'SRI', 'ARM',
       'CIV', 'KEN', 'BEN', 'GBR', 'GHA', 'SOM', 'NIG', 'MLI', 'AFG',
       'POL', 'CRC', 'PAN', 'GEO', 'SLO', 'GUY', 'NZL', 'POR', 'PAR',
       'ANG', 'VEN', 'COL', 'FRG', 'BAN', 'PER', 'ESA', 'PUR', 'UGA',
       'HON', 'ECU', 'TKM', 'MRI', 'SEY', 'TCH', 'LUX', 'MTN', 'SKN',
       'TTO', 'DOM', 'VIN', 'JAM', 'LBR', 'SUR', 'NEP', 'MGL', 'AUT',
       'PLW', 'LTU', 'TOG', 'NAM', 'AHO', 'UKR', 'ISL', 'ASA', 'SAM',
       'RWA', 'CRO', 'DMA', 'HAI', 'MLT', 'CYP', 'GUI', 'BIZ', 'YMD',
       'THA', 'BER', 'ANZ', 'SCG', 'SLE', 'PNG', 'YEM', 'IOA', 'OMA',
       'FIJ', 'VAN', 'MDA', 'BAH', 'GUA', 'YUG', 'LAT', 'SRB', 'IVB',
       'MOZ', 'ISV', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM', 'CAY', 'SVK',
       'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO', 'BOT', 'ROT',
       'KOR', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CZE', 'CRT', 'GEQ',
       'BOL', 'SAA', 'ANT', 'AND', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM',
       'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'LIE',
       'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO', 'BDI',
       'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK', 'TUV',
       'TGA', 'NFL', 'KOS', 'SSD', 'LES'], dtype=object)

Qual atleta foi o maior medalhista (em medalhas totais) da história das olimpíadas de verão?

In [23]:
world_summer_medals = world_summer[world_summer["Medal"].notnull()]
world_summer_medals.groupby('Name')['Medal'].size().sort_values(ascending=False)

Name
Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Takashi Ono                           13
Borys Anfiyanovych Shakhlin           13
                                      ..
Hrachya Petikyan                       1
Hrachik Javakhyan                      1
Howe Liang "Tiger" Tan                 1
Howard Thayer Kingsbury, Jr.           1
ver Maximiliano David Banega           1
Name: Medal, Length: 24545, dtype: int64

Qual atleta foi o maior medalhista de ouro da história das olimpíadas de verão?

In [24]:
world_summer_gold_medals = world_summer_medals[world_summer_medals['Medal']=='Gold']
world_summer_gold_medals.groupby('Name')['Medal'].size().sort_values(ascending=False)

Name
Michael Fred Phelps, II               23
Raymond Clarence "Ray" Ewry           10
Mark Andrew Spitz                      9
Larysa Semenivna Latynina (Diriy-)     9
Frederick Carlton "Carl" Lewis         9
                                      ..
Herbert James "Herb" Elliott           1
Herbert Henry "Herb" McKenley          1
Herbert Haydon Wilson                  1
Herbert Adamski                        1
ver Maximiliano David Banega           1
Name: Medal, Length: 8981, dtype: int64

Qual país foi o maior medalhista de ouro da história das olimpíadas de verão? Lembre-se da questão do evento esportivo, para não considerar múltiplas medalhas para um mesmo evento (ex: uma equipe de futebol fazendo parecer que mais de 20 medalhas foram distribuídas).

In [25]:
world_summer_gm = world_summer_gold_medals.drop_duplicates(subset=['Event','Year'], keep='first')
world_summer_gm.groupby('NOC')['Medal'].size().sort_values(ascending=False)

NOC
USA    1028
URS     385
GBR     275
FRA     233
GER     229
       ...
CRC       1
SYR       1
GRN       1
ECU       1
SUR       1
Name: Medal, Length: 106, dtype: int64

Qual país foi o maior medalhista em medalhas totais na história das olimpíadas de verão?

In [26]:
world_m = world_summer_medals.drop_duplicates(subset=['Event','Year','Medal'], keep='first')
world_m.groupby('NOC')['Medal'].size().sort_values(ascending=False)

NOC
USA    2502
URS     966
GBR     863
GER     745
FRA     740
       ...
MKD       1
MNE       1
MON       1
PAR       1
KGZ       1
Name: Medal, Length: 145, dtype: int64

Obtenha o total de medalhas de ouro, prata e total por edição das Olimpíadas de verão. Lembre-se da questão do evento esportivo.

In [27]:
world_total_medal = world_m['Medal'].value_counts()
world_total_medal

Gold      5200
Silver    5161
Bronze    5106
Name: Medal, dtype: int64

In [28]:
total_ed =world_m.groupby('Year')['Medal'].size().reset_index()
total_ed

    Year  Medal
0   1896    116
1   1900    255
2   1904    275
3   1906    219
4   1908    309
5   1912    309
6   1920    443
7   1924    387
8   1928    355
9   1932    370
10  1936    420
11  1948    435
12  1952    444
13  1956    448
14  1960    447
15  1964    486
16  1968    514
17  1972    575
18  1976    593
19  1980    606
20  1984    657
21  1988    707
22  1992    764
23  1996    811
24  2000    897
25  2004    901
26  2008    905
27  2012    904
28  2016    915

## 3. Brasil vs Mundo

Para finalizar, vamos fazer algumas comparações entre Brasil e mundo. Qual o ranking do Brasil em cada edição das olimpíadas? Lembrando que o ranking é ordenado por medalhas de ouro.

In [40]:
bra_world = world_summer_gm.groupby(by=["Year","NOC"])['Medal'].size().reset_index()
bra_world_place = bra_world[bra_world['NOC']=='BRA']
bra_world

     Year  NOC  Medal
0    1896  AUS      2
1    1896  AUT      2
2    1896  DEN      1
3    1896  FRA      5
4    1896  GBR      3
..    ...  ...    ...
833  2016  TUR      1
834  2016  UKR      2
835  2016  USA     46
836  2016  UZB      4
837  2016  VIE      1

[838 rows x 3 columns]

In [30]:
year_med = bra_world.pivot_table(index='Year', columns='NOC', values='Medal',fill_value=0)
year_med = year_med.reset_index()
bra_world
year_med.head(5)

NOC,Year,ALG,ANZ,ARG,ARM,AUS,AUT,AZE,BAH,BDI,...,UGA,UKR,URS,URU,USA,UZB,VEN,VIE,YUG,ZIM
0,1896,0,0,0,0,2,2,0,0,0,...,0,0,0,0,11,0,0,0,0,0
1,1900,0,0,0,0,2,0,0,0,0,...,0,0,0,0,19,0,0,0,0,0
2,1904,0,0,0,0,0,1,0,0,0,...,0,0,0,0,75,0,0,0,0,0
3,1906,0,0,0,0,0,3,0,0,0,...,0,0,0,0,12,0,0,0,0,0
4,1908,0,1,0,0,0,0,0,0,0,...,0,0,0,0,22,0,0,0,0,0

Compare o maior medalhista em ouros do Brasil com o maior medalhista em ouros do mundo.

In [31]:
mais_ouro_mundo = world_summer_gold_medals.groupby('Name')['Medal'].size().sort_values(ascending=False)
mais_ouro_mundo.reset_index().head(1)

                      Name  Medal
0  Michael Fred Phelps, II     23

In [32]:
world_summer_medals2 = world_summer_gold_medals.groupby(by=['Name','NOC'])['Medal'].size().sort_values(ascending=False)
world_summer_medals2=world_summer_medals2.reset_index()
mais_ouro_bra  = world_summer_medals2[world_summer_medals2['NOC']=='BRA']
mais_ouro_bra.head(1)

               Name  NOC  Medal
558  Robert Scheidt  BRA      2

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista em total de medalhas do mundo.

In [33]:
mais_medal_mundo = world_summer_medals.groupby('Name')['Medal'].size().sort_values(ascending=False)
mais_medal_mundo.reset_index().head(1)

                      Name  Medal
0  Michael Fred Phelps, II     28

In [34]:
mais_medal = world_summer_medals.groupby(by=['Name','NOC','Sport'])['Medal'].size().sort_values(ascending=False)
mais_medal = mais_medal.reset_index()
mais_medal_bra  = mais_medal[mais_medal['NOC']=='BRA']
mais_medal_bra.head(1)

               Name  NOC    Sport  Medal
317  Robert Scheidt  BRA  Sailing      5

Compare o maior medalhista em ouros do Brasil com o maior medalhista do mundo no mesmo esporte.

In [35]:
world_summer_medals2 = world_summer_medals.groupby(by=['Name','NOC','Sport'])['Medal'].size().sort_values(ascending=False)
world_summer_medals2=world_summer_medals2.reset_index()
world_medals_sailing = world_summer_medals2[world_summer_medals2['Sport']=='Sailing']
world_medals_sailing.head(2)

                               Name  NOC    Sport  Medal
261  Charles Benedict "Ben" Ainslie  GBR  Sailing      5
317                  Robert Scheidt  BRA  Sailing      5

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista do mundo no mesmo esporte.

In [36]:
world_summer_medals2 = world_summer_medals.groupby(by=['Name','NOC','Sport'])['Medal'].size().sort_values(ascending=False)
world_summer_medals2=world_summer_medals2.reset_index()
world_medals_sailing = world_summer_medals2[world_summer_medals2['Sport']=='Sailing']
world_medals_sailing.head(2)

                               Name  NOC    Sport  Medal
261  Charles Benedict "Ben" Ainslie  GBR  Sailing      5
317                  Robert Scheidt  BRA  Sailing      5

Calcule o percentual de medalhas de ouro, prata e bronze que o Brasil ganhou em cada olimpíada.

In [37]:
bra_year_percent = bra_medals.groupby(by=['Year'])['Medal'].value_counts(normalize=True)
bra_year_percent

Year  Medal
1920  Bronze    0.714286
      Gold      0.142857
      Silver    0.142857
1948  Bronze    1.000000
1952  Bronze    0.666667
      Gold      0.333333
1956  Gold      1.000000
1960  Bronze    1.000000
1964  Bronze    1.000000
1968  Bronze    0.750000
      Silver    0.250000
1972  Bronze    1.000000
1976  Bronze    1.000000
1980  Bronze    0.555556
      Gold      0.444444
1984  Silver    0.916667
      Bronze    0.055556
      Gold      0.027778
1988  Silver    0.739130
      Bronze    0.217391
      Gold      0.043478
1992  Gold      0.928571
      Silver    0.071429
1996  Bronze    0.682540
      Silver    0.238095
      Gold      0.079365
2000  Bronze    0.750000
      Silver    0.250000
2004  Silver    0.475000
      Gold      0.450000
      Bronze    0.075000
2008  Silver    0.435897
      Bronze    0.384615
      Gold      0.179487
2012  Silver    0.576271
      Gold      0.237288
      Bronze    0.186441
2016  Gold      0.720000
      Silver    0.160000
      Bronze    0.120000
Name: Medal, dtype: float64